

<po-page-default p-title="Clientes">
  <div class="po-row">
      <po-button
          p-icon="po-icon-user-add"
          p-label="Novo cliente"
          p-kind="primary"
          (p-click)="onClickNewCustomer()"
      ></po-button>
  </div>
  <po-table
    p-title="Clientes"
    [p-actions]="tableActions"
    [p-columns]="tableColumns"
    [p-items]="items$.value"
    [p-sort]="true"
    [p-loading]="isLoading"
    [p-hide-table-search]="false"
    [p-actions-right]="true">
  </po-table>
</po-page-default>