<po-page-default p-title="Clientes">
  <div class="po-row">
    <po-button
        p-icon="po-icon-user-add"
        p-label="Novo cliente"
        p-kind="primary"
        (p-click)="onClickNewCustomer()"
    ></po-button>
  </div>
  <po-table
    [p-actions]="tableActions"
    [p-columns]="tableColumns"
    [p-items]="(customers$ | async) || []"
    [p-sort]="true"
    [p-spacing]="spacing"
    [p-hide-table-search]="false"
    [p-actions-right]="true">
  </po-table>
</po-page-default>

<po-modal
    p-title="Confirmar exclusão"
    [p-primary-action]="confirm"
    [p-secondary-action]="close">
    <div>
      Tem certeza de que deseja excluir esse registro? Você não poderá desfazer essa ação.
    </div>
</po-modal>
